* {
    box-sizing: border-box;
}

/* body {

    background-image: url("../images/backgroundImg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }
  .searchInput{
      width: 100%;
      
  }

  .jumbotron{
      margin: auto;
      height: 300px;
      width: 550px;
      background-color: white;
      opacity: 0.5;
      color: black;
      font-family: fantasy;
      text-align: center;
      font-size: 125px;
      padding-top: 25px;
      
  }
  #jumbotronHeader{
      text-shadow: 5px 5px grey;
      margin: 10px auto;
      

  } */

.recipe {
    height: 600px;
    width: 0 auto;
    overflow: hidden;
}
/* Sets margin for h5s-- which allows the save button to show up next to the recipe title */
h5 {
    margin: 0 auto;
}
/* Adds margin under the buttons at the top of the page */
#topDiv {
    height: 80px;
    background: rgba(2, 2, 2, 0.5);
    border-bottom: white solid 1px;
}

#foodBtn{
    border-radius: 10px;
    border: white solid 1px;
    background: transparent;
    margin: 10px 5px 10px 5px; 
    padding-bottom: 60px; 
    box-shadow: 2px 2px 2px black;  
}

#drinkBtn{
    border-radius: 10px;
    border: white solid 1px;
    background: transparent;
    margin: 10px 5px 10px 5px; 
    padding-bottom: 60px;  
    box-shadow: 2px 2px 2px black;
}

#savedRecipeBtn{
    border-radius: 10px;
    border: white solid 1px;
    background: transparent;
    margin: 10px 5px 10px 5px; 
    padding-bottom: 60px;  
    box-shadow: 2px 2px 2px black; 
}

.container{
    margin-top: 50px;
}
/* Error msg that shows when something is searched for, but there is no matching recipe */
.recipeError {
    padding: 20px 20px 0px;
}

/* Gives font size to the hippo fontAwesome */
#recipeErrori {
    font-size: 80px;
}

@media only screen and (max-width: 700px) {
    #recipeErrori {
        font-size: 50px;
    }
  }

  /* Repsonsive styling */
  @media only screen and (max-width: 730px) {
      .btnText {
          display: none;
      }
  }

/* Change cursor on hover */
.icon:hover {
      cursor: pointer;
  } 
