* {
    box-sizing: border-box;
}

body {

    /* background-image: url("../images/background-image.jpg"); */
    /* The image used */
    /* background-image: url(assets\images\background-image.jpg); */
    /* Full height */

    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }
  .searchInput{
      width: 100%;
      
  }

  .jumbotron{
      margin: auto;
      height: 300px;
      width: 550px;
      background-color: white;
      opacity: 0.5;
      color: black;
      font-family: fantasy;
      text-align: center;
      font-size: 125px;
      padding-top: 25px;
      
  }
  #jumbotronHeader{
      text-shadow: 5px 5px grey;
      margin: 10px auto;
      

  }

.recipe {
    height: 600px;
    width: 0 auto;
    overflow: hidden;
}

.searchNone {
    
}